{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
      href="{% static "admin/css/forms.css" %}">
<style>
    input[type="password"] {
        width: 250px;
        outline: 0;
        border-width: 0 0 2px;
    }


    .alert {
        display: none;
    }

    .wrong .fa-check {
        display: none;
    }

    .good {
        display: none;
    }


    .requirements {
        list-style-type: none;
    }

</style>
<style>
    meter {
        /* Reset the default appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        margin: 0 auto 1em;
        width: 100%;
        height: 0.5em;

        /* Applicable only to Firefox */
        background: none;
        background-color: rgba(0, 0, 0, 0.1);
    }

    meter::-webkit-meter-bar {
        background: none;
        background-color: rgba(0, 0, 0, 0.1);
    }

    /* Webkit based browsers */
    meter[value="1"]::-webkit-meter-optimum-value {
        background: red;
    }

    meter[value="2"]::-webkit-meter-optimum-value {
        background: yellow;
    }

    meter[value="3"]::-webkit-meter-optimum-value {
        background: orange;
    }

    meter[value="4"]::-webkit-meter-optimum-value {
        background: green;
    }

    /* Gecko based browsers */
    meter[value="1"]::-moz-meter-bar {
        background: red;
    }

    meter[value="2"]::-moz-meter-bar {
        background: yellow;
    }

    meter[value="3"]::-moz-meter-bar {
        background: orange;
    }

    meter[value="4"]::-moz-meter-bar {
        background: green;
    }

</style>
{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a
   href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
{% endif %} {% trans 'Change password' %} / <a
   href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="content-main">

    <form method="post">{% csrf_token %}
        <div>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
                {% else %}
                {% trans "Please correct the errors below." %}
                {% endif %}
            </p>
            {% endif %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
            {% endfor %}
            {% endif %}


            <!-- <p>{% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p> -->
            <p>
                لطفا گذرواژه جاری را برای امنیت بیشتر وارد کرده، و سپس
                گذرواژه جدید و تایید آن را در ورودی های مشخص شده تعیین
                نمایید.</p>

            <fieldset class="module aligned wide">

                <div class="form-row">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                </div>

                <div class="form-row">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>

                <div {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}
                     class="alert alert-warning
                      password-alert
                      {% if LANGUAGE_BIDI %}
                      text-right {% endif %}" role="alert">
                    <ul>
                        <li class="requirements">
                            <i
                               class="fas fa-exclamation-triangle"></i>
                            {% comment %} {% blocktrans  trimmed %}
                            Your password can’t be
                            too similar to your other
                            personal information.
                            {% endblocktrans %} {% endcomment %}
                            گذرواژه‌ی شما نمی‌تواند مشابه با سایر
                            اطلاعات فردی شما
                            باشد.
                        </li>
                        <li class="requirements leng">
                            <i class="fas fa-check green-text"></i>
                            <i class="fas fa-times red-text"></i>
                            {% comment %}
                            {% trans "Your password must contain at least 8 characters." %}
                            {% endcomment %}
                            گذرواژه‌ی شما باید حداقل ۸ حرف باشد.
                        </li>
                        <li class="requirements
                          special-char">
                            <i class="fas fa-check green-text"></i>
                            <i class="fas fa-times red-text"></i>
                            {% comment %}
                            {% trans "Your password can’t be a commonly used password." %}
                            {% endcomment %}
                            گذرواژه‌ی شما نمی‌تواند یک گذرواژه‌ی
                            معمولی باشد.
                        </li>
                        <li class="requirements big-letter">
                            <i class="fas fa-check green-text"></i>
                            <i class="fas fa-times red-text"></i>
                            {% comment %}
                            {% trans "Your password must have at least 1 capital character." %}
                            {% endcomment %}
                            گذرواژه‌ی شما باید حداقل یک حرف بزرگ
                            انگلیسی داشته باشد.
                        </li>
                        <li class="requirements num">
                            <i class="fas fa-check green-text"></i>
                            <i class="fas fa-times red-text"></i>
                            {% comment %}
                            {% trans "Your password must have at least 1 number." %}
                            {% endcomment %}
                            گذرواژه‌ی شما باید شامل حداقل یک عدد باشد.
                        </li>
                        <li class="requirements special-char">
                            <i class="fas fa-check green-text"></i>
                            <i class="fas fa-times red-text"></i>
                            {% comment %}
                            {% trans "Your password must have at least 1 special char." %}
                            {% endcomment %}
                            گذرواژه‌ی شما باید حداقل یک کاراکتر
                            نامتعارف داشته
                            باشد(!#$%).
                        </li>
                    </ul>
                </div>

                <div class="alert alert-warning password-alert2
             {% if LANGUAGE_BIDI %} text-right {% endif %}"
                     {% if LANGUAGE_BIDI %} dir="rtl" {% endif %}
                     role="alert">
                    <ul>
                        <li class="requirements2 passed-match">

                            {% comment %}
                            {% trans "Password doesn't match." %}
                            {% endcomment %}
                            گذرواژه‌ها مطابقت ندارند.
                        </li>
                    </ul>
                </div>


                <div class="form-row">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.new_password2.help_text %}
                    <div class="help">
                        {{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit"
                       value="{% trans 'Change my password' %}"
                       class="default">
            </div>

        </div>
    </form>
</div>

{% endblock %}


{% block document_loaded %}
<script>
    $(function () {
        var $password1 =
            $("#id_new_password1");
        var $password2 =
            $("#id_new_password2");
        var $passwordAlert = $(".password-alert");
        var $requirements = $(".requirements");
        var $passwordAlert2 = $(
            ".password-alert2");
        var $requirements2 = $(".requirements2");
        var leng, bigLetter, num, specialChar;
        var $leng = $(".leng");
        var $bigLetter = $(".big-letter");
        var $num = $(".num");
        var $specialChar = $(".special-char");
        var specialChars =
            "!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
        var numbers = "0123456789";

        $requirements.addClass("wrong");
        $password1.on("focus",
            function () {
                $passwordAlert.show();
            });

        $password1.on("input blur", function (e) {
            var el = $(this);
            var val = el.val();
            $passwordAlert.show();

            if (val.length < 8) {
                leng = false;
            } else if (val.length > 7) {
                leng = true;
            }


            if (val.toLowerCase() == val) {
                bigLetter = false;
            } else {
                bigLetter = true;
            }

            num = false;
            for (var i = 0; i < val
                .length; i++) {
                for (var j = 0; j < numbers
                    .length; j++) {
                    if (val[i] == numbers[j]) {
                        num = true;
                    }
                }
            }
            specialChar = false;
            for (var i = 0; i < val
                .length; i++) {
                for (var j = 0; j < specialChars
                    .length; j++) {
                    if (val[i] == specialChars[j]) {
                        specialChar = true;
                    }
                }
            }

            if (leng == true && bigLetter ==
                true && num == true &&
                specialChar == true) {
                $(this).addClass("valid")
                    .removeClass("invalid");
                $requirements.removeClass("wrong")
                    .addClass("good");
                $passwordAlert.removeClass(
                    "alert-warning").addClass(
                    "alert-success");
                $password1.css('border-bottom-color',
                    'green');
                if ($password1.val().length > 12) {
                    $password1.css(
                        'border-bottom-color',
                        'green');
                }

            } else {
                $password1.css('border-bottom-color',
                    'red');
                $(this).addClass("invalid")
                    .removeClass("valid");
                $passwordAlert.removeClass(
                    "alert-success").addClass(
                    "alert-warning");
                if (leng == false) {
                    $leng.addClass("wrong")
                        .removeClass("good");
                } else {
                    $leng.addClass("good")
                        .removeClass("wrong");
                }
                if (bigLetter == false) {
                    $bigLetter.addClass("wrong")
                        .removeClass("good");
                } else {
                    $bigLetter.addClass("good")
                        .removeClass("wrong");
                }
                if (num == false) {
                    $num.addClass("wrong")
                        .removeClass("good");
                } else {
                    $num.addClass("good")
                        .removeClass("wrong");
                }
                if (specialChar == false) {
                    $specialChar.addClass("wrong")
                        .removeClass("good");
                } else {
                    $specialChar.addClass("good")
                        .removeClass("wrong");
                }
            }

        });

        $password2.on("input blur",
            function () {
                if (
                    $(this).val() !== $password1.val()
                ) {
                    $password2.css('border-bottom-color',
                        'red');
                    $(this).addClass("invalid")
                        .removeClass("valid");
                    $passwordAlert2.show();
                } else if (!$(this).val()) {
                    $password2.css('border-bottom-color',
                        'red');
                    $(this).addClass("invalid")
                        .removeClass("valid");
                } else {
                    $password2.css('border-bottom-color',
                        'green');
                    $(this).addClass("valid")
                        .removeClass("invalid");
                    $passwordAlert2.hide();
                }
            });
    });

</script>

{% endblock document_loaded %}
